<div class="col s12 m6 l4 custom-card-div">
  <div class="card custom-card-box">
    <div
      class="card-image waves-effect waves-block waves-light custom-card-image"
    >
      <img class="activator" src="./images/example.png" />
    </div>
    <div class="card-content">
      {{!-- project title --}}
      <span class="card-title activator grey-text text-darken-4">{{title}}<i
          class="material-icons right"
        >more_vert</i><i class="material-icons right">chat</i></span>
        {{!-- code this! --}}
      <ul>
        <li>1 designer required</li>
        <li>2 programmers required</li>
        <li>3 3D artists required</li>
      </ul>
      {{!-- link to user profile --}}
      <p><a href="#" class="custom-link-profile">Link to profile</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Description<i
          class="material-icons right"
        >close</i></span>
        {{!-- project description --}}
      <p>{{description}}</p>
    </div>
  </div>
</div>