<div class="row custom-row center-align">

  <h2 id="project-id" class="custom-welcome">Welcome to Team {{id}} 🔥</h2>
  <h4><span>{{user.username}} </span>is the team leader! Check out more of his
    projects
  </h4>
  <button class="btn center-align" id="join-btn">JOIN THIS TEAM!</button>
</div>
<body>
  <div class="custom-bg">
    <div class="container">
    {{! main section }}
    <main>
      <div>
        <h3>Say Hi!</h3>
        <h2 id="team"></h2>
        <h3>Live Users: </h3>
        <ul id="user-list"></ul>
      </div>
      <div class="messages"></div>
    </main>
    {{! form container }}
    <div class="form-container">
      <form id="chat-form">
        <input id="message" type="text" placeholder="Enter your message" />
        <button class="btn">Send</button>
      </form>
    </div>
  </div>
  </div>
  {{!-- leave chat button --}}
  <div class="center-align">
    <button class="btn" id="leave-btn">Leave Chat</button>
  </div>

{{!-- script logic --}}
<script src="/javascript/chat.js"></script>