<h1>THIS IS THE CHAT PAGE</h1>


<h5>{{project.title}}</h5>
  <H5>DESCRIPTION HERE</H5>
  <div>{{project.description}}</div>

  {{! TEAM LEADER }}
  <H5>TEAM LEADER HERE</H5>
  <div>{{project.user.username}}</div>
  <H5>TEAM LEADER ROLE</H5>
  <div>{{project.user.role}}</div>
</div>


