<nav>
  <div class="nav-wrapper">
    <a href="" class="brand-logo">CREATOR<span
        class="custom-brand-logo"
      >LABS</span></a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i
        class="material-icons"
      >menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/profile">Profile</a></li>
      {{#if loggedIn}}
        <li><button id="logout-btn" class="custom-button">LOGOUT</button></li>
      {{else}}
        <li>
          <a href="/login" class="custom-button">LOGIN</a>
        </li>
      {{/if}}
    </ul>
  </div>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/profile">Profile</a></li>
    {{#if loggedIn}}
      <li><button
          id="logout-btn-nav"
          class="custom-button custom-button-nav"
        >LOGOUT</button></li>
    {{/if}}
  </ul>
</nav>

<h3 class="custom-create">CREATE A NEW PROJECT</h3>
{{! creating a new post }}

<form id="project-form" class="" action="">

  <h4>Project Title</h4>
  <div class="row container custom-inputs-2">
    <div class="col s12 custom-label">
      <textarea id="new-project-title" class="materialize-textarea"></textarea>
    </div>
  </div>

  <h4>Project Description</h4>
  <div class="row container custom-inputs-2">
    <div class="col s12 custom-label">
      <textarea
        class="materialize-textarea"
        id="new-project-description"
      ></textarea>
    </div>
  </div>

  <h4>What creatives do you need?</h4>
  <div class="row container custom-inputs-2">
    <div action="/action_page.php">
      <label for="quantity">3D Artist</label>
      <input type="number" id="artist_needed" name="quantity" min="0" />
      <label for="quantity">Developer</label>
      <input type="number" id="developers_needed" name="quantity" min="0" />
      <label for="quantity">Designer</label>
      <input type="number" id="designers_needed" name="quantity" min="0" />
    </div>
  </div>

  {{! picture logic }}
  {{!-- <h4>Upload your project picture</h4>
  <input id="image-value" type="file" name="image" /> --}}

  <div class="row container custom-inputs-button">
    <button class="btn">Create Project</button>
  </div>

</form>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
></script>
<script src="/javascript/logout.js"></script>
<script src="/javascript/newproject.js"></script>
<script>
  $(document).ready(function(){ $('.sidenav').sidenav(); });
  $(document).ready(function(){
  $('.slider').slider({height:350,indicators:false}) });
  $(document).ready(function(){ $('select').formSelect(); });

</script>