


{{!-- navbar --}}
 <nav>
        <div class="nav-wrapper">
          <a href="" class="brand-logo">CREATOR<span class="custom-brand-logo">LABS</span></a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="">Home</a></li>
            <li><a href="">Dashboard</a></li>
            <li><a href="">Chat</a></li>
            {{#if loggedIn}}
            <li><button id="logout-btn" class="btn custom-button">LOGOUT</button></li>
            {{else}}
            <li>
              <a href="/login" class="btn custom-button">LOGIN</a>
            </li>
            {{/if}}
          </ul>
        </div>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="">Home</a></li>
            <li><a href="">Dashboard</a></li>
            <li><a href="">Chat</a></li>
            <li  class="purple lighten-4"><a href="">LOGOUT</a></li>
          </ul>
      </nav>






      <div class="row container ">
        <div class="col s12 m6 l4 custom-card-div">
            <div class="card custom-card-box">
                <div class="card-image waves-effect waves-block waves-light custom-card-image">
                  <img class="activator" src="./images/example.png">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Project Title<i class="material-icons right">more_vert</i><i class="material-icons right">chat</i></span>
                  <ul>
                      <li>1 designer required</li>
                      <li>2 programmers required</li>
                      <li>3 3D artists required</li>
                  </ul>
                  <p><a href="#" class="custom-link-profile">Link to profile</a></p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                  <p>Here is some more information about this project that is only revealed once clicked on.</p>
                </div>
              </div>
        </div>

        <div class="col s12 m6 l4 custom-card-div">
          <div class="card custom-card-box">
                <div class="card-image waves-effect waves-block waves-light custom-card-image">
                  <img class="activator" src="./images/example.png">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Project Title<i class="material-icons right">more_vert</i><i class="material-icons right">chat</i></span>
                  <ul>
                      <li>1 designer required</li>
                      <li>2 programmers required</li>
                      <li>3 3D artists required</li>
                  </ul>
                  <p><a href="#" class="custom-link-profile">Link to profile</a></p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                  <p>Here is some more information about this project that is only revealed once clicked on.</p>
                </div>
              </div>
        </div>

        <div class="col s12 m6 l4 custom-card-div">
          <div class="card custom-card-box">
                <div class="card-image waves-effect waves-block waves-light custom-card-image">
                  <img class="activator" src="./images/example.png">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Project Title<i class="material-icons right">more_vert</i><i class="material-icons right">chat</i></span>
                  <ul>
                      <li>1 designer required</li>
                      <li>2 programmers required</li>
                      <li>3 3D artists required</li>
                  </ul>
                  <p><a href="#" class="custom-link-profile">Link to profile</a></p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                  <p>Here is some more information about this project that is only revealed once clicked on.</p>
                </div>
              </div>
        </div>
    

        <div class="col s12 m6 l4 custom-card-div">
          <div class="card custom-card-box">
                <div class="card-image waves-effect waves-block waves-light custom-card-image">
                  <img class="activator" src="./images/example.png">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Project Title<i class="material-icons right">more_vert</i><i class="material-icons right">chat</i></span>
                  <ul>
                      <li>1 designer required</li>
                      <li>2 programmers required</li>
                      <li>3 3D artists required</li>
                  </ul>
                  <p><a href="#" class="custom-link-profile">Link to profile</a></p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                  <p>Here is some more information about this project that is only revealed once clicked on.</p>
                </div>
              </div>
        </div>

        <div class="col s12 m6 l4 custom-card-div">
          <div class="card custom-card-box">
                <div class="card-image waves-effect waves-block waves-light custom-card-image">
                  <img class="activator" src="./images/example.png">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Project Title<i class="material-icons right">more_vert</i><i class="material-icons right">chat</i></span>
                  <ul>
                      <li>1 designer required</li>
                      <li>2 programmers required</li>
                      <li>3 3D artists required</li>
                  </ul>
                  <p><a href="#" class="custom-link-profile">Link to profile</a></p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                  <p>Here is some more information about this project that is only revealed once clicked on.</p>
                </div>
              </div>
        </div>

        <div class="col s12 m6 l4 custom-card-div">
          <div class="card custom-card-box">
                <div class="card-image waves-effect waves-block waves-ligh custom-card-image">
                  <img class="activator" src="./images/example.png">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Project Title<i class="material-icons right">more_vert</i><i class="material-icons right">chat</i></span>
                  <ul>
                      <li>1 designer required</li>
                      <li>2 programmers required</li>
                      <li>3 3D artists required</li>
                  </ul>
                  <p><a href="#" class="custom-link-profile">Link to profile</a></p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                  <p>Here is some more information about this project that is only revealed once clicked on.</p>
                </div>
              </div>
        </div>
      </div>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <script src="/javascript/logout.js"></script>
      <script src="/javascript/dashboard.js"></script>
      </body>
      </html>