<h1>THIS IS THE USER PROFILE</h1>

<a href="/dashboard"><button class="btn">view projects</button></a>
{{! build your own project route }}
<a href="/create-project"><button class="btn">build your own</button></a>

<div>
  <h1>projects I have in progress</h1>
  {{! insert projects in progress here }}
</div>

<div>
  <h1>projects I have built</h1>
  {{! insert projects I have built here }}
</div>