<div class="row container custom-inputs">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <input id="username" type="text" class="validate" />
        <label for="email">Username</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" class="validate" />
        <label for="password">Password</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <select id="role">
          <option value="">Choose your role </option>
          <option value="3D Artist">3D Artist</option>
          <option value="Designer">Designer</option>
          <option value="Developer">Developer</option>
        </select>
      </div>
    </div>
    {{! <div class="upload-btn-wrapper">
      <button>Upload a photo</button>
      <input
        id="upload"
        type="file"
        onChange="handleImageUpload()"
        class="custom-upload"
      />
      <img id="display-image" src="" />
    </div> }}
  </form>
</div>

<div class="row container custom-signup-div">
  <div class="col s12">
    <button
      id="sign-up-btn"
      class="btn waves-effect waves-light"
    >SIGNUP</button>
    <p>Already have an account?
      <a href="/login" class="custom-signup-link">LOG IN</a></p>
  </div>
</div>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
></script>

<script src="/javascript/signup.js"></script>