body {
  background-color: #211134;
  overflow-x: hidden;
  font-family: "DM Sans", sans-serif;
}
a {
  color: white;
}
.custom-left-div {
  margin-top: 7%;
}
h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 61px;
  color: #ffffff;
}
h1 {
  margin-top: 10%;
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  color: #ffffff;
}
.custom-title-mobile {
  display: none;
}
.custom-right-div {
  width: 80%;
  height: 700px;
  margin-top: 7%;
  background: linear-gradient(180deg, #8245d6 0%, #6b90f3 100%);
  border-radius: 30px;
}
.custom-title {
  padding-top: 10%;
  font-size: 45px;
}
.custom-right-div img {
  /* height: 100vh; */
  margin-top: 50px;
  width: 90%;
}
.custom-image-container {
  height: 50px;
}
button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  width: 221px;
  height: 64px;
  margin-bottom: 20px;
  background: linear-gradient(97.19deg, #b973ea -9.32%, #672fbd 82.07%);
  border-width: 0;
  border-radius: 10px;
}
.nav-wrapper {
  background-color: #211134;
}
.nav-wrapper li {
  margin-left: 100px;
}
.brand-logo {
  margin-left: 30px;
  color: #ffffff;
  text-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
}
.custom-brand-logo {
  color: #8245d6;
}
.custom-brand-logo2 {
  color: #4c1e91;
}
.custom-button {
  font-size: 15px;
  color: #ffffff;
  width: 100px;
  height: 35px;
  background: linear-gradient(97.19deg, #b973ea 15%, #672fbd 82.07%);
  border-radius: 10px;
  border-color: transparent;
  margin-top: 8px;
  margin-right: 20px;
  padding-bottom: 4px;
}
.custom-button-nav {
  background: transparent;
  color: violet;
  margin-left: 10px;
}
.custom-button-nav:focus {
  background: transparent;
}
.custom-inputs {
  width: 40%;
  background-color: #371a59;
  margin-top: 5%;
  border-radius: 10px;
  padding: 20px;
}
.custom-upload + label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: black;
  display: inline-block;
}
.upload-btn-wrapper {
  position: relative;
  /* overflow: hidden; */
  display: inline-block;
}

.upload-btn-wrapper button {
  background: transparent;
  position: fixed;
  /* top:600px; */
}
.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.custom-signup-div {
  color: white;
  text-align: center;
  margin-top: 50px;
}
input {
  color: white;
}
.custom-signup-link {
  color: #b973ea;
}
.custom-link-profile {
  color: #6c85ca;
}
.custom-card-div {
  margin-top: 3%;
}
.card-content {
  height: 130px;
}
.custom-card-image {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.custom-card-box {
  border-radius: 15px;
}
.custom-row {
  margin: 30px;
}
.custom-profile-box {
  position: relative;
  height: 100vh;
  background: #150a22;
  border-radius: 20px;
  text-align: center;
}

.custom-profile-picture {
  position: relative;
  top: 40px;
  height: 120px;
  width: 120px;
}
.custom-profile-details {
  position: relative;
  top: 40px;
}
.custom-name {
  font-size: 20px;
}
.custom-profile-details li {
  padding-bottom: 7px;
  padding-top: 7px;
}
h3 {
  color: white;
  font-size: 25px;
  padding: 20px;
  padding-bottom: 5px;
}
.custom-profile-intro {
  margin-left: 30px;
  background: linear-gradient(180deg, #8245d6 0%, #6b90f3 100%);
  border-radius: 10px;
}
.custom-profile-intro p {
  color: white;
  padding-left: 20px;
}
.profile-buttons {
  font-weight: 700;
  font-size: 13px;
  line-height: 10px;
  width: 300px;
  height: 40px;
  margin-bottom: 7px;
  margin-left: 18px;
  background: #150a22;
  border-radius: 5px;
}
.custom-profile-projects {
  border-radius: 10px;
  margin-left: 30px;
}
.collapsible {
  border-width: 0;
  margin-top: 40px;
}
.custom-profile-projects ul li {
  margin-bottom: 10px;
}
.collapsible-header {
  background-color: #150a22;
  border-radius: 10px;
  border-width: 0;
  color: white;
}
.collapsible-body {
  background-color: white;
  border-radius: 10px;
  border-width: 0;
}

.custom-label {
  font-size: 20px;
}
textarea {
  color: white;
}
.custom-inputs-2 {
  width: 40%;
  background-color: #371a59;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
}
.custom-create {
  text-align: center;
  color: #927bb3;
  margin-top: 40px;
  margin-bottom: 60px;
}
h4 {
  color: white;
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
}
.custom-inputs-button {
  margin-top: 50px;
  text-align: center;
}

.display-hidden {
  display: none;
}

.custom-numbers li {
  color: #8245d6;
}
.custom-chat-icon {
  background-color: rgb(76, 172, 104);
}

.custom-welcome {
  text-align: center;
}
.custom-noproject {
  font-size: 15px;
  text-align: left;
}
.custom-chat-info {
  color: white;
}

.message {
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding-left: 10px;
  padding-right: 10px;
  margin: 20px;
  background-color: rgb(71, 145, 255);
}

.messages {
  margin-top: 50px;
  margin-left: 20px;
}

.form-container form {
  margin-left: 40px;
  margin-right: 40px;
}

.custom-type-msg {
  margin: 20px;
  border-width: 1px;
  border-color: tomato;
}
.chat-image {
  max-width: 3000px;
  position: absolute;
  z-index: -1;
}

.custom-current-user {
  color: #3d1858;
  text-align: center;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 20px;
}

.custom-send-btn {
  font-size: 15px;
  line-height: 36px;
  color: black;
  width: 50px;
  height: 50px;
  margin-bottom: 0;
  background: transparent;
  border-radius: 50%;
  text-align: right;
}

.custom-send-btn:focus {
  background-color: transparent;
}
.custom-type-msg {
  margin-left: 20px;
  margin-right: 20px;
  border-color: blue;
  border-width: 20px;
}
.modal {
  padding: 30px;
  width: 40%;
  height: 400px;
}

.form-style-5 {
  position: absolute;
  padding: 10px 20px;
  padding: 20px;
  border-radius: 8px;
}

.form-style-5 input[type="text"] {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 4px;
  font-size: 15px;
  margin: 0;
  outline: 0;
  padding: 10px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #e8eeef;
  color: #8a97a0;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-left: 20px;
  width: 220px;
}

.form-style-5 input[type="text"]:focus {
  background: #d2d9dd;
  margin: 0px;
}

/* chat page */
.custom-chat-intro {
  margin-top: 30px;
  background: linear-gradient(180deg, #8245d6 0%, #6b90f3 100%);
  width: 60%;
  padding: 20px;
  border-radius: 15px;
}

.custom-chat-intro h4 {
  margin-top: 30px;
}

.custom-join-btn {
  margin-top: 30px;
  width: fit-content;
  width: 250px;
  background: rgb(117, 39, 148);
}

.custom-member {
  font-size: 10px;
}
.custom-member-name {
  color: rgb(149, 107, 189);
}
.custom-card-content {
  height: fit-content;
}

@media screen and (max-width: 1200px) {
  h1,
  h2 {
    font-size: 40px;
  }
  .custom-right-div {
    display: none;
  }
  .custom-right-div img {
    display: none;
  }
  .custom-title-mobile {
    display: block;
  }
  .custom-inputs {
    width: 70%;
  }
  .upload-btn-wrapper button {
    font-size: 15px;
  }
  .custom-profile-box {
    height: fit-content;
    padding-bottom: 10px;
  }
  .custom-profile-details {
    padding-top: 50px;
    position: static;
  }
  .custom-profile-intro {
    margin-left: 0px;
  }
  .custom-profile-projects {
    margin-left: 0px;
  }
  .custom-inputs-2 {
    width: 80%;
  }
  .modal {
    width: 70%;
  }
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #da22ff 0%,
    #9733ee 51%,
    #da22ff 100%
  );
}
.btn-grad {
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 10px rgb(140, 15, 168);
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.project-card-text {
  color: #5815a4;
  font-weight: bold;
}

.expand {
  transition: all 0.3s ease-in-out;
}

.expand:hover {
  transform: scale(1.02);
  transition: all 0.3s ease-in-out;
}

.send-btn {
  background: green;
  color: #3c2165;
  width: 50px;
  display: inline;
}

.main {
  width: 490px;
  display: inline-block;
  font-size: 15px;
  vertical-align: top;
}

.custom-bg {
  background-image: linear-gradient(0deg, #8e51e8 0%, #6430bf 100%);
  background: rgba(52, 0, 81, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
}

.chat-header {
  height: 110px;
  padding: 30px 20px 30px 40px;
}

.chat-header div {
  margin-left: 10px;
  margin-right: 145px;
}
.chat-header h2 {
  font-size: 16px;
  margin: 0;
  margin-bottom: 5px;
  line-height: 15px;
}
.chat-header h3 {
  padding: 0px;
  padding-bottom: 0px;
  margin: 0;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: normal;
  color: #7e818a;
}
